{{ if .IsHome }}
  <header class="row top-xs middle-md center-xs">
    <div class="col-xs-12 col-md-7">
      <div class="row top-xs middle-md center-xs">
        <div class="col-xs-12"><img src="{{ .Site.Params.logoBig}}" alt="{{ .Site.Title }}"></div>
      </div>
      <div class="row top-xs center-xs">
        <div class="col-xs-12">
          <div class="home-tagline">{{ .Site.Params.tagline }}</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-5 tshirt-container">
      <div class="row bottom-xs middle-md center-xs tshirt-container">
        <div class="col-xs-12">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdpxxf09J8BbGHzngaGNYizwsvgJ9KZrciIdpE1thZWtKY2cg/viewform?vc=0&c=0&w=1&usp=mail_form_link">Click Here to order your shirt today!</a>
            <img src="/images/reese-power-tshirt.png">
        </div>
      </div>
    </div>
</header>
{{ end }}

<nav class="row middle-xs center-xs">
  <div class="col-xs-6 col-sm-1 logo">
    <a href="{{ .Site.BaseURL }}#"><img src="{{ .Site.Params.logoSmall }}" alt="{{ .Site.Title }}"></a>
  </div>
    {{ range .Site.Menus.main }}
      <div class="col-xs-3 col-sm-2">
        <h3><a href="{{ .URL }}">{{ .Name }}</a></h3>
      </div>
    {{ end }}
  <div class="col-xs-6 col-sm-1 nav-toggle">
      <a href="" class="nav-icon" onclick="return false"><img src="/images/icon-menu.png" alt="Open Menu"><img src="/images/icon-x.png" alt="Close Menu" style="display: none;"></a>
  </div>
</nav>

<section class="nav-full row middle-xs center-xs">
  <div class="col-xs-12">
    <div class="row middle-xs center-xs">
      {{ range .Site.Menus.main }}
        <div class="col-xs-12"><h1><a href="{{ .URL }}">{{ .Name }}</a></h1></div>
      {{ end }}
    </div>
  </div>
</section>
