<section class="event" id="event">
<div class="container">
        <div class="row">
                <div class="col-xs-12 col-md-12">
                  <h1>Our Events:</h1>
                </div>
        </div>
        <div class="row">
            {{ $eventTotal := len (where .Site.RegularPages "Section" "event") }}
            {{ $events := (where .Site.RegularPages "Section" "event") }}
            {{ $sorted := ($events.ByParam "startDate") }}
    
            <div class="col-md-12 col-xs-12">
                {{ range $sorted }}
                    <div class="row">
                        <div class="col-md-12 col-xs-12 event-row">
                            <img src="/images/{{ .Params.image}}" {{ if .Params.alt }}alt="{{ .Params.alt }}"{{ end }}>
                            <div class="list-sub-header">{{ dateFormat "Monday, Jan 2, 2006" .Params.startDate }}</div>
                            <div class="list-header">{{ .Title }}</div>
                            <div class="event-description">{{ .Params.description }}</div>
                            <div class="event-link">
                                {{ if .Params.link }}<div class="col-xs-12 col-md-12"><h5><a target="_blank" href="{{ .Params.link }}">More Details <i class="fas fa-external-link-alt"></i></a></h5></div>{{ end }}
                            </div>
                        </div>
                    </div>
                    <hr />
                {{ end }}
            </div>
        </div>
    </div>
</section>
    