<section class="event" id="event">
<div class="container">
        <div class="row">
                <div class="col-xs-12 col-md-12">
                  <h1>Our Events:</h1>
                </div>
        </div>
        <div class="row">
            {{ $eventTotal := len (where .Site.RegularPages "Section" "event") }}
            {{ $events := (where .Site.RegularPages "Section" "event") }}
    
            {{ range first 3 $events }}
                <div class="col-md-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 event-row">
                            <img src="/images/{{ .Params.image}}" {{ if .Params.alt }}alt="{{ .Params.alt }}"{{ end }}>
                            <h2>{{ dateFormat "Jan 1, 2006" .Params.date }} - {{ .Title }}</h2>
                            <div class="row event-description">{{ .Params.description }}</div>
                            <div class="row event-link">
                                {{ if .Params.link }}<div class="col-xs-12 col-md-12"><h5><a target="_blank" href="{{ .Params.link }}">More Details <i class="fas fa-external-link-alt"></i></a></h5></div>{{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
            {{ if gt $eventTotal 3 }}
                {{ range after 3 $events }}
                    <div class="col-md-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 col-xs-12 event-row">
                                <img src="/images/{{ .Params.image}}" {{ if .Params.alt }}alt="{{ .Params.alt }}"{{ end }}>
                                <h2>{{ dateFormat "Jan 1, 2006" .Params.date }} - {{ .Title }}</h2>
                                <div class="row event-description">{{ .Params.description }}</div>
                                <div class="row event-link">
                                    {{ if .Params.link }}<div class="col-xs-12 col-md-12"><h5><a target="_blank" href="{{ .Params.link }}">More Details <i class="fas fa-external-link-alt"></i></a></h5></div>{{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
            {{ end }}
        </div>
    </div>
</section>
    