<section class="event" id="event">
<div class="container">
        <div class="row">
                <div class="col-xs-12 col-md-12">
                  <h1>Our Events:</h1>
                </div>
        </div>
        <div class="row">
            {{ $eventTotal := len (where .Site.RegularPages "Section" "event") }}
            {{ $events := (where .Site.RegularPages "Section" "event") }}
            {{ $sorted := ($events.ByParam "date") }}
    
            <div class="col-md-12 col-xs-12">
                {{ range $sorted }}
                    <div class="row">
                        <div class="col-md-3 col-xs-12">
                            <img src="/images/{{ .Params.image}}" {{ if .Params.alt }}alt="{{ .Params.alt }}"{{ end }}>
                        </div>
                        <div class="col-md-5 col-xs-12">
                            {{ if .Params.startDate }}<div class="list-sub-header">{{ dateFormat "Monday, Jan 2, 2006 - 3 PM" .Params.startDate }} </div>{{ end }}
                            <div class="list-header">{{ .Title }}</div>
                            <div>{{ .Params.location }}</div>
                            <div>{{ .Params.address }}</div>
                            <div>{{ .Params.city }}{{  if .Params.state }},{{ end }} {{ .Params.state }} {{ .Params.zip }}</div>
                            <div class="event-description">{{ .Params.description }}</div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="row">
                                {{ if .Params.link }}<div class="col-xs-6 event-link"><a target="_blank" href="{{ .Params.link }}">Details <i class="fas fa-external-link-alt"></i></a></div>{{ end }}
                                {{ if .Params.address }}<div class="col-xs-6 event-link"><a target="_blank" href="https://www.google.com/maps/dir//{{ .Params.address }},{{ .Params.city }},{{ .Params.state }} {{.Params.zip}}">Map <i class="fas fa-map-marked-alt"></i></a></div>{{ end }}
                                {{ if .Params.orderLink }}<div class="col-xs-6 event-link"><a target="_blank" href="{{ .Params.orderLink }}">Order <i class="fas fa-external-link-alt"></i></a></div>{{ end }}
                            </div>
                        </div>
                    </div>  
                    <hr />
                {{ end }}
            </div>
        </div>
    </div>
</section>
    