<section class="teammate" id="teammate">
        <div class="container">
                <div class="row">
                        <div class="col-xs-12 col-md-12">
                          <h1>Donate to Our Team:</h1>
                        </div>
                </div>
                <div class="row">
                    {{ $teammateTotal := len (where .Site.RegularPages "Section" "teammate") }}
                    {{ $teammates := (where .Site.RegularPages.Reverse "Section" "teammate") }}
            
                    {{ range $teammates }}
                        <div class="col-md-6 col-xs-12">
                            <div class="row teammate-row">
                                <div class="col-md-8 col-xs-12">
                                    <span class="list-header">{{ .Title }}</span>
                                </div>
                                <div class="col-md-4 col-xs-12" >
                                    <span class="teammate-link">
                                            {{ if .Params.fundraisinglink }}<a target="_blank" href="{{ .Params.fundraisinglink }}">Donate <i class="fas fa-external-link-alt"></i></a>{{ end }}
                                    </span>
                                </div>
                            </div>
                            {{ if .Params.description}}
                            <div class="row">
                                    <div class="col-md-12 teammate-description">{{ .Params.description }}</div>
                                </div>
                            </div>
                            {{ end }}
                        </div>
                        <hr />
                    {{ end }}
                </div>
        </div>
</section>
            